.ctn-titulo {
    height: 20vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.ctn-formulario {
    height: calc(80vh - 70px);
}

.form-cadastro {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
}

.form-cadastro label {
    display: flex;
    flex-direction: column;

    margin: 1rem 0;
}

input[type="text"],
input[type="number"],
input[type="tel"],
input[type="date"],
input[type="email"],
select {
    height: 4vh;
    border-radius: 5px;
    border: 1px solid #434343;
}

input[type="submit"] {
    width: 40%;
    height: 6vh;
    border-radius: 5px;
    margin: 2rem auto;
    font-size: 1.15rem;

    background-color: var(--cor-principal);
    color: var(--cor-destaque);
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: var(--cor-hover-botao);
}

input {
    padding-left: 5px;
}

input:read-only:not([type="submit"]),
textarea:read-only {
    background-color: #e0e0e0;
    color: #555;
    cursor: not-allowed;
}
